<footer>
    <nav class="navbar fixed-bottom navbar-light navstyle">
  <!--<div class="container-fluid">-->
    <h3 class="display-6 navbar-text footer-text ">&copy;2023 All rights reserved</h3>
    <!--<a class="navbar-brand" href="#">Fixed bottom</a>-->
  </div>
</nav>
    </footer>