<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>
<!--about content -->

<div class="container-fluid bg-3 text-center">    
  
  <div id="about" class="paddsection">
    <div class="container">
      
      <div class="row justify-content-between">
        

        

        <div class="col-lg-7">
          <div class="about-descr">

            <p class="p-heading">Hi. I am Sujan chaudhary an aspiring software engineering student. </p>
            <p class="main-para">I am a software engineering student with a passion for learning more about coding and new technologies.</p>

          </div>

        </div>
      </div>
    </div>
  </div>

</body>
<% include partials/script %>
<% include partials/footer %>
</html>